.left-s{
	height: 100%;
	width: 100%;
	background-color: #7CB342;
	

}
.right-s{
	height: 100%;
	width: 100%;
	background-color: #9CCC65;
}
.middle-s{
	height: 100%;
	width: 100%;
	background-color: #689F38;
}
